@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth tracking-widest drop-shadow-lg
  }
  body {
    @apply bg-[#fbc3ff] dark:bg-[#060309]
  }
  button {
    @apply rounded-xl border-2 border-transparent bg-[#824abecd]  dark:bg-[#430094af] hover:scale-105 ease-in duration-300 text-white shadow-md shadow-[#060309]
  }
  h1 {
    @apply font-bold text-6xl text-center text-black dark:text-gray-300 
  }
  p {
    @apply text-center text-lg dark:text-gray-400 text-gray-900
  }
}